.loading {
  display: flex;
  flex: 1 0 100%;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.dealers {
  display: flex;
  flex: 0 0 auto;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .dealers {
    flex-direction: column;
  }
}
.list {
  display: flex;
  flex: 0 1 50%;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  min-width: 325px;
  max-width: 500px;
  box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
  .list {
    flex-grow: 1;
  }
}
.dealer {
  position: relative;
  padding: calc(var(--grid) * 1.5) calc(var(--grid) * 3);
  box-shadow: 0 0 4px rgba(0,0,0,.12);
  transition: box-shadow .35s ease;
  margin: var(--grid);
  cursor: pointer;
}
.dealer.selected {
  background-color: var(--list-bg-selected);
}
.dealer img,
.dealer h2,
.dealer p {
  margin: 0 0 var(--grid);
  display: flex;
  align-items: center;
}
.dealer p a {
  display: flex;
  align-items: center;
  color: var(--main-link-text);
  text-decoration: none;
  font-weight: 800;
}
.dealer a svg {
  display: flex;
  padding-left: var(--grid);
}
.dealer .icon {
  display: flex;
  margin-right: var(--grid);
  width: 14px;
  justify-content: center;
}
.dealer .caret {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  right: var(--grid);
  font-size: 24px;
  color: var(--main-link-text);
}
.dealers .search-results .content {
  display: flex;
  flex: 1 0 auto;
  margin: 0;
  padding: var(--grid);
  box-sizing: content-box;
  height: 39px;
  justify-content: center;
  align-items: center;
}
.dealers .search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dealers .input-group {
  display: flex;
  padding: var(--grid);
}
.dealers .search input {
  appearance: none;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 0 4px rgba(0,0,0,.12);
  display: flex;
  flex: 1 0 auto;
  padding: var(--grid) calc(var(--grid) * 1.5);
}
.dealers .search-results {
  display: flex;
  flex-direction: column;
}
#map {
  display: flex;
  flex: 1 1 50%;
  order: 1;
}
@media only screen and (max-width: 600px) {
  #map {
    order: 0;
    flex: 0 0 33%;
    min-height: 70vw;
  }
}
